// Photo page + popup
.photo-row {
	max-width: 730px;
	margin: 0 auto;
}

.post__header {
	padding: 40px 0;
	text-align: right;


	a {
		width: 40px;
		display: inline-block;
		vertical-align: middle;
	}
}
	.post__back {
		float: left;
		font-size: 2em;
		line-height: 40px;
		width: auto;
	}

.post__form {
	display: block;
}


	.post__title {
		.transition(border-color .3s);
		font-size: 2em;
		font-family: @sansFontFamily;
		.input_clear;
		display: block;
		border: 1px solid @gray;
		margin-bottom: 10px;
		padding: 0 10px;

		&[disabled] {
			border: none;
			cursor: auto;
			color: @black;
		}
	}

	.post__content {
		.transition(border-color .3s);
		font-family: @sansFontFamily;
		.input_clear;
		display: block;
		border: 1px solid @gray;
		height: 276px;
		padding: 10px;

		&[disabled] {
			color: @black;
			border: none;
			cursor: auto;
		}
	}
